*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}


.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.modal-container.visible {
    display: flex;
}

.modal-container .modal {
    height: 35%;
    width: 30%;
    background-color: white;
}

#close-modal-symbol{
    border: none;
    background: none;
}

#close-modal-symbol img{
    width: 20px;
    height: 20px;
    border: none;
}


#item-id {
    display: none;
}

form{
    margin-left: 10px;
    height: 50%;
    width: 50%;
    display: grid;

    width: fit-content;
    height: fit-content;
}

form #task-button{
    background-color: #F5D4C3;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 5px;
}

#content{
    height: 10rem;
    width: 25rem
}
body{
    background-color: #f6efe794;
}

header{
    background-color: #F6EFE7;
    display: flex;
    align-items: center;
    height: 5rem;
}



header a{
    color: whitesmoke;
    margin-right: 0.5rem;
}

#logo img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 4px;
    margin-left: 3rem;
}

#open-modal-button{
    background: #C2C7CC;
    border: none;
    border-radius: 50%;

    width: 45px;
    height: 45px;

    padding: 4px;
    margin-left: auto;
    margin-right: 3rem;

    color: white;
    font-weight: 700;
}

.home{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.section{
    width: auto;
    height: auto;
}

.header{
    margin-bottom: 1rem;
    background-color: black;
    align-items: flex-start;
    border: 50px;
    width:fit-content;
    height: fit-content;

    border-radius: 8px;
} 

.header h3{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    color: #17181A;
    align-items: center;
    justify-content: center;
    padding:8px;
}

.header img{
    width: 10px;
    height: 10px;
}

#left{
    padding-left: 5px;
}

#trash{
    margin-left: 210px;
    padding-right: 5px;
}

#someday .header{
    background-color: #CEE0F2;
}

#today .header{
    background-color: #CEF2CE;
}

#tomorrow .header{
    background-color: #E0CEF2;
}

#next-week .header{
    background-color: #C2C7CC;
}

.tasks{
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 30px;


    display: grid;
    justify-content: center;
}

.task{
    display: grid;
    min-width: 250px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 2rem;
}

.task:last-child{
    margin-bottom: 2rem;
}

.task.header{
    margin-top: 1rem;
}

.content{
    display: grid;
    margin-left: 10px;
    margin-bottom: 1rem;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
}

.tag{
    margin-left: 10px;
    margin-bottom: 1rem;

    width: fit-content;
    height: fit-content;
    border-radius: 8px;
}

.tag h3{
    font-size: 12px;
    color: #17181A;
    font-weight: 500;
    line-height: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

#tag-normal{
    background-color: #cde8d4;
}

#tag-important{
    background-color: #F2CECE
    ;
}

#tag-extra{
    background-color: #f8f8d0;
}