<!DOCTYPE html>
<html lang="en">
<head>

   
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" href="../static/assets/icon.jpeg" type="image"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500;700&display=swap" rel="stylesheet">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>metc kanban</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<body>
    <header>
        <div id="logo">
            <img src="../static/assets/icon.jpeg" alt="logo">
        </div>
        <button id="open-modal-button">+</button>
        <div class="modal-container" id="modal-container">
            <div class="modal" id="modal">
                <button id="close-modal-symbol">Close</button>
                <form action="/add" method="POST">
                    <input type="text" name="content" id="content">
                    <input type="submit" value="Add Task">
                </form>
            </div>
        </div>
    </header>

    
    <main>

            {% if tasks|length < 1 %}
            <h4 style="text-align: center">There are no tasks. Create one below!</h4>
            <div class="home">
                <div class="section" id="someday">
                    <div class="header">Someday</div>
                    <div class="tasks">
                        <div class="header"></div>
                        <div class="content"></div>
                    </div>
                </div>

                <div class="section" id="today">
                    <div class="header">Today</div>
                    <div class="tasks">
                        <div class="header"></div>
                        <div class="content"></div>
                    </div>
                </div>
      
                <div class="section" id="tomorrow">
                    <div class="header">Tomorrow</div>
                    <div class="tasks">
                        <div class="header"></div>
                        <div class="content"></div>
                    </div>
                </div>
      
                <div class="section" id="next-week">
                    <div class="header">Next Week</div>
                    <div class="tasks">
                        <div class="header"></div>
                        <div class="content"></div>
                    </div>
                </div>
            </div>
      
            {% else %}
            <div class="home">
                <div class="section" id="someday">
                    <div class="header">
                        <h3>Someday</h3>
                    </div>
                        <div class="tasks">
                            {% for task in tasks[0] %}
                            <div class="task">
                                <div class="header">

                                    <a href="/previous/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/arrowright.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/next/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/arrowleft.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/edit/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/pencil.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/delete/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/trash.svg"
                                            class="hidden"
                                        />
                                    </a>
                                </div>
                                <div class="content">
                                    {{ task.content }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
                
                
                <div class="section" id="today">
                    <div class="header">
                        <h3>Today</h3>
                    </div>
                        <div class="tasks">
                            {% for task in tasks[1] %}
                            <div class="task">
                                <div class="header">

                                    <a href="/previous/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/arrowright.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/next/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/arrowleft.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/edit/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/pencil.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/delete/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/trash.svg"
                                            class="hidden"
                                        />
                                    </a>
                                </div>
                                <div class="content">
                                    {{ task.content }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
                
                <div class="section" id="tomorrow">
                    <div class="header">
                        <h3>Tomorrow</h3>
                    </div>
                        <div class="tasks">
                            {% for task in tasks[2] %}
                            <div class="task">
                                <div class="header">

                                    <a href="/previous/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/arrowright.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/next/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/arrowleft.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/delete/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/trash.svg"
                                            class="hidden"
                                        />
                                    </a>
                                </div>
                                <div class="content">
                                    {{ task.content }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
                
                <div class="section" id="next-week">
                    <div class="header">
                        <h3>Next Week</h3>
                    </div>
                        <div class="tasks">
                            {% for task in tasks[3] %}
                            <div class="task">
                                <div class="header">

                                    <a href="/previous/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/arrowright.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/next/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/arrowleft.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/edit/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/pencil.svg"
                                            class="hidden"
                                        />
                                    </a>

                                    <a href="/delete/{{task.id}}">
                                        <img
                                            type="submit"
                                            src="/static/assets/trash.svg"
                                            class="hidden"
                                        />
                                    </a>
                                </div>
                                <div class="content">
                                    {{ task.content }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
                
            </div>
            {% endif %}

        <div class="form">
            
        </div>
    </main>    
</body>
<script src="/static/main.js"></script>
</html>